absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
auto-py-to-exe==2.46.0
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.8.2
bottle==0.13.3
bottle-websocket==0.2.9
Brotli==1.1.0
certifi==2023.7.22
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
comm==0.1.4
console==0.9909
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.11
dask==2024.12.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
Django==5.0.7
dnspython==2.7.0
Eel==0.18.1
email_validator==2.2.0
executing==2.0.0
ezenv==0.92
fastapi==0.115.6
fastapi-cli==0.0.7
fastjsonschema==2.18.1
flash==1.0.3
Flask==3.0.3
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.46.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gevent==25.4.2
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.2.1
grpcio==1.65.4
gTTS==2.5.3
h11==0.14.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
idna==3.4
ipykernel==6.25.2
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jinxed==1.3.0
jiter==0.6.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
locket==1.0.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
MathLab==1.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
mpmath==1.3.0
multidict==6.1.0
namex==0.0.8
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
notebook==7.0.4
notebook_shim==0.2.3
numpy==1.26.3
openai==0.28.0
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.13
overrides==7.4.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.2
pdfkit==1.0.0
pefile==2023.2.7
pi==0.1.2
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
propcache==0.2.0
protobuf==4.25.4
psutil==5.9.5
pure-eval==0.2.2
pycparser==2.21
pydantic==2.9.2
pydantic-extra-types==2.10.1
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydub==0.25.1
pydyf==0.11.0
pygame==2.5.2
Pygments==2.16.1
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.1.1
pyperclip==1.9.0
pyphen==0.16.0
PySimpleGUI==4.60.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.12
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.30.2
reportlab==4.1.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rich-toolkit==0.12.0
rpds-py==0.10.4
sagemath==1.3.0
sales_tracker==1.0
SalesTrackerApp @ file:///C:/Users/Ronal/Desktop/SalesTrackerApp
scikit-elm==0.21a0
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
setuptools==70.1.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
somepackage==1.2.3
soupsieve==2.5
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data==0.6.3
StandardScaler==0.5
starlette==0.41.3
stripe==10.12.0
sympy==1.13.0
table==0.0.4
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.3.0
toolz==1.0.0
tornado==6.3.3
tqdm==4.66.6
traitlets==5.11.2
typer==0.15.1
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2023.3
ujson==5.10.0
uri-template==1.3.0
urllib3==2.0.6
uvicorn==0.34.0
watchfiles==1.0.3
wcwidth==0.2.8
weasyprint==62.3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==14.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.9
wrapt==1.16.0
yarl==1.16.0
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3
